
{% extends "base.jinja2" %}
{% include "components/nav.jinja2" %}
{% block content %}

 {% raw %}

<html>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

<div class="row">
  <div class="col-md-4">
    <div id="body">
</div>

<script type="text/babel">

    const Router = window.ReactRouterDOM.BrowserRouter;
    const Route =  window.ReactRouterDOM.Route;
    const Link =  window.ReactRouterDOM.Link;
    const Prompt =  window.ReactRouterDOM.Prompt;
    const Switch = window.ReactRouterDOM.Switch;
    const Redirect = window.ReactRouterDOM.Redirect;
    const IndexRoute = ReactRouter.IndexRoute;
    const hashHistory = ReactRouter.hashHistory;

    class Greetings extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          if(this.state.page === "home"){

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 20}}><Link to="/register">Create Project</Link></div>
                      <div id="loadProjects" className="col" style={{fontSize: 20}}>Load Projects</div>
                    </div>

          }else{

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 10}}>Create Project</div>
                      <div id="loadProjects" className="col" style={{fontSize: 10}}>Load Projects</div>
                  </div>

          }


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }

      class Register extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          if(this.state.page === "home"){

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 20}}>Username</div>
                      <div id="loadProjects" className="col" style={{fontSize: 20}}>Load Projects</div>
                    </div>

          }else{

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 10}}>Create Project</div>
                      <div id="loadProjects" className="col" style={{fontSize: 10}}>Load Projects</div>
                  </div>

          }


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }

      class Login extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          if(this.state.page === "home"){

            page = <div className="row">
                      <div className="col" style={{fontSize: 20}}>Username</div>
                      <br/>
                      <div className="col" style={{fontSize: 20}}>Password</div>
                      <br/>
                      <Link to="/home">Login</Link>
                    </div>

          }else{

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 10}}>Create Project</div>
                      <div id="loadProjects" className="col" style={{fontSize: 10}}>Load Projects</div>
                  </div>

          }


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }

      class Home extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          

            page = <div className="row">
                      <div className="col" style={{fontSize: 10}}><Link to="/create/project">Create Project</Link></div>
                      <div id="loadProjects" className="col" style={{fontSize: 10}}>Load Projects</div>
                  </div>


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }


      class CreateProject extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          

            page = <div className="row">
                      <div id="createProject" className="col" style={{fontSize: 10}}>Project Title</div>
                      <Link to="/project/details">Create</Link>
                  </div>


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }

      class ProjectDetails extends React.Component{

        constructor() {
            super();

            this.state = {page: "home"};

        }

        componentDidMount(){

            //alert();
            

        }

        render(){

          let page = null;

          

            page = <div className="row">
                      <input>Description
                      <br/>
                      <input>Date of Exhibition
                      <br/>
                      <input>Collaborators
                      <br/>
                      <input>Assets
                      <br/>
                      <input>Notes
                      <br/>
                      <input>Donors
                      <br/>
                      <input>Voice Notes
                      <br/>
                      <input>Displays
                      <br/>
                      <input>Tags
                      <br/>
                      <Link to="/project/details">Save</Link>
                  </div>


          return (
            <h1>
              <div className="container">
                  {page}
              </div>
            </h1>
          );
        }
      }



      //ReactDOM.render(
      //  <Greetings name="Chris" />,
      //  document.getElementById('body')
      //);

      ReactDOM.render((
        <Router history={hashHistory}>
            <div>
            <Route exact path="/" component={Login}>
            </Route>
            <Route path="/home" component={Home} />
            <Route path="/create/project" component={CreateProject} />
            <Route path="/project/details" component={ProjectDetails} />
          </div>
        </Router>
      ), document.getElementById("body"));

      </script>

<script type="text/javascript">

  
  $(document).ready(function(){

      //$("#body").html("<input>Email</input><br/><input>Password</input></br><button id=\"btnLogin\">Login</button>");


      $(document).on('click','#btnLogin', function(){

        $("#body").html("<div class=\"row\"><div id=\"createProject\" class=\"col-md-4\">Create Project</div><div id=\"loadProjects\" class=\"col-md-4\">Load Projects</div><div class=\"col-md-4\">3</div></row>");

      });


      $(document).on('click', "#createProject", function(){
        //$(this).hide();
      
          //console.log("ok");
          $("#body").html("<input>Project Title</input>(required)<br/><button id=\"btnCreateProject\">Create</button>");

      });

      $(document).on('click', "#loadProjects", function(){
        //$(this).hide();
      
          //console.log("ok");
          $("#body").html("<div id=\"loadProject\">Project1</div>");

      });

      $(document).on('click', "#loadProject", function(){
        //$(this).hide();
      
          //console.log("ok");
          $("#body").html("<u>Project1</u><br/><br/><div class=\"row\"><div id=\"createProject\" class=\"col-md-4\">Meta</div><div id=\"loadProjects\" class=\"col-md-4\">Assets</div><div class=\"col-md-4\">Collaborators</div></row>");
      });

      $(document).on('click','#btnCreateProject', function(){

        $.ajax({
          type: "POST",
          url: "/create",
          //data: myDataVar.toString(),
          dataType: "text",
          success: function(resultData){
              console.log(JSON.stringify(resultData));
          }
        });

        $("#body").html("<input>Project Lead</input><br/><input>Colaborators</input></br><br/><input>Collaborators</input><br/><input>Date of Exhibition</input><br/><input>Category</input><br/><br/><input>Venue</input><br/><br/><input>Acknolwedgements</input><br/><input>Notes</input><br/><button id=\"btnAddAssets\">Add Assets</button>");

      });

      $(document).on('click',"#btnAddAssets", function(){
        //$(this).hide();
      
          console.log("ok");
          $("#body").html("<input>Gifs</input><br/><input>Obj</input><br/><input>Movies</input><br/><button>Next</button>");

      });


  });

</script>


<br/>
<br/>

</html>

 {% endraw %}

{% endblock %}


