
{% extends "base.jinja2" %}
{% include "components/nav.jinja2" %}
{% block content %}

<html>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script type="text/javascript">

  $(document).ready(function(){
      $("#createProject").click(function(){
        //$(this).hide();
      
          //console.log("ok");
          $("#body").html("<input>Project Title</input>(required)<br/><button id=\"btnCreateProject\">Create</button>");

      });

      $(document).on('click','#btnCreateProject', function(){

        $("#body").html("<input>Project Lead</input><br/><input>Colaborators</input></br><br/><input>Collaborators</input><br/><input>Date of Exhibition</input><br/><input>Category</input><br/><br/><input>Venue</input><br/><br/><input>Acknolwedgements</input><br/><input>Notes</input><br/><button id=\"btnAddAssets\">Add Assets</button>");

      });

      $(document).on('click',"#btnAddAssets", function(){
        //$(this).hide();
      
          console.log("ok");
          $("#body").html("<input>Gifs</input><br/><input>Obj</input><br/><input>Movies</input><br/><button>Next</button>");

      });


  });

</script>

<div id="left_sidebar">
  Projects
  <br/>
  <a id="createProject">Create</a>
  <br/>
  <br/>
  Project1
  <br/>
  <a id="createProject">Meta</a>
  <br/>
  <a id="createProject">Invite collaboratiors</a>
  <br/>
  <a id="createProject">Add Asset</a>
  <br/>

</div>
<br/>
<br/>
<div id="body">
</div>
</html>

{% endblock %}
